html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.img-cart {
    height: 3rem !important;
}

.navbar-brand {
    font-family: 'Syne Tactile', cursive;
    font-weight: bold;
    font-size: 2.1rem !important;
    /* font-family: 'Roboto', sans-serif !important; */
}

.bg-img h2 {
    /* margin-top:5rem; */
    /* background-image: url('https://images.unsplash.com/photo-1548123378-bde4eca81d2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGlwJTIwaG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* height: 90vh; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.29);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
}

.offcanvas-body {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.promo-banner {
    height: 178px;
    width: 400px;
}

.img-pub {
    background-image: url();
}